.section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 4.7rem;
    gap: 5rem;
}

.section h1{
    font-size: 4rem;
}

.section p{
    font-size: 1.5rem;
    margin: 1rem 0;
}

.section img {
    width: 450px;

}

@media screen and (width <= 590px) {
    .section{
        gap: 4rem;
        padding: 5rem 4rem;
    }    
    
    .section h1{
        font-size: 3rem;
    }

    .section p{
        font-size: 1.3rem;
    }

    .section img{
        display: none;
    }
}